{% extends 'navbar.html' %}
{% load static %}
{% block title_block %} {{user_other.user_profile.full_name}} (@{{user_other.username}}) {% endblock title_block %}

{% block css_block %}
<style>
  .crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .crop_img {
    width:400px;
    height: 300px;
    margin: -75px 0 0 -100px;

  }
</style>
{% endblock css_block %}
{% block body_block %}
<div class="row">
    <div class="col-sm-4">
    {% if user_other.user_profile.profile_pic %}
    <img src="/media/{{user_other.user_profile.profile_pic}}" width="250px" height="250px" class="rounded-circle">
    {% else %}
    <img src="{% static '/default/default.jpg' %}" width="250px" height="250px" class="rounded-circle">
    {% endif %}
    </div>
    <div class="col-sm-8">
    <h1>{{user_other.username}} &nbsp; 
        {% if not already_followed %}
        <a href="{% url 'AppLogin:follow' username=user_other.username %}" class="btn btn-primary">Follow</a></h1>
        {% else %} 
        <a href="{% url 'AppLogin:unfollow' username=user_other.username %}" class="btn btn-primary">UnFollow</a></h1>
        {% endif %}

    <h4>{{user_other.posts.count}} posts &nbsp; &nbsp; {{user.following.count}} followers &nbsp; &nbsp; {{user.followers.count}} following</h4>
    <br>
    <h4>{{user_other.user_profile.full_name}}</h4>
    <h6>{{user_profile.user_profile.description|linebreaks}}</h6>
    </div>
    </div>
  <hr>  
  <br>
  <br>
  <div class="row">
    {% for post in user_other.posts.all %}
    <div class="crop">
  <img src="/media/{{post.image}}" title="{{post.caption}}">
    </div>
    {% endfor %}
  </div>

{% endblock body_block %}